.wrapper {
  display: flex;
  flex: 1 1 auto;
  min-height: 60vh;
  position: relative;
}

.map {
  flex: 1 1 auto;
  min-height: 100%;
  width: 100%;
}

.popup {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
  font-size: var(--font-popup);
  color: var(--color-text-dark);
}
